name: Python application

on:
  push:
  pull_request:


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install
      run: |
       sudo apt-get install libboost-all-dev libjsoncpp-dev openjdk-11-jdk zipalign apksigner apksigner
       sudo dpkg --add-architecture i386
       sudo apt-get update
       sudo apt-get install libc6:i386 libstdc++6:i386 apktool
       curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
       sudo apt install git-lfs
       source ./launch.sh
      
      
    - name: Run
      run: python3 deoptfuscator.py
      
    - name: Run
      run: ls
      
    - name: Upload
      uses: actions/upload-artifact@v1
      with:
          name: app_patched
          path: "app_patched.apk"
